@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.navbar {
    background-color:#2c3e50;
    padding: 1rem;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar__logo {
    color:#fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    font-family: "Poppins", sans-serif;
  }

  #pikcho{
    border-radius: 50%;
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    object-fit: cover;
  }
  
  .navbar__menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  
  
  .navbar__links {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
  
  .navbar__links:hover {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    
  }
  