.fullpage{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    font-family: "Poppins", sans-serif; 
    background-color: #E0F7FA;

}

.vertical_hr{
    width: 1px;
    height: 25vh;
    background-color: black;
    border-color: #000;
    margin: 0 10px;

}

.horizontal_hr{
    width: 100%;
    height: 1px;
    background-color: black;
    border-color: #000;
    margin: 10px 0;
}
p{ 
    font-size: 1.2rem; 
    font-weight: 500; 
    color: #605c5c;
    margin: 3px;

}

hr{
    width: 100%;
    border: 1px solid #fff;
}


h2{
    margin: 1px;
}

strong{ 
    font-size: 1.3rem; 
    font-weight: 800; 
    color: #333; 
    margin: 2px;
}

.m-icon{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


h4{ 
    font-size: 1.3rem; 
    font-weight: 800; 
    color: #333; 
    margin: 2px;
}

.icon{
    margin-right: 10px;
}

.lab-result{
    flex: 1 1 calc(25% - 20px); /* 25% width minus the gap */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h3{
    color: #70C0F9
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';
